html,
body,
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Egyptienne Webfont";
  font-weight: normal;
  font-style: italic;
}

.container {
  height: 100%;
}

main {
  min-width: $beamer-screen-width;
  min-height: $beamer-screen-height;

  > div {
    height: 100%;

  }
}

svg {
  max-width: 100%;
  height: auto;
}

// columns

.e-left-column {
  @include side-column;
  position: relative;
}

.left-column-container {
  height: 100%;
  width: calc(100% - 70px);
  position: absolute;
  top: 55px;
  display: block;

  &.move-in {
    top: -100vh;
  }
}

.e-middle-column {
  @include column;
  position: relative;
  width: 50%;
  padding: $padding-vertical 0;

  @include below($breakpoint) {
    padding: 50px 0;
    width: 620px;
  }

  .middle-column-container {
    height: 970px;
    @include below($breakpoint) {
      height: 670px;
      width: 620px;
    }

    &.move-in {
      position: absolute;
      top: 100vh;
    }

    &.move-out {
      position: absolute;
    }
  }
}

.e-right-column {
  @include side-column;

  @include below($breakpoint) {
    position: absolute;
    width: $column-right-width;
    right: $padding-large;
  }
}

.inner-container {
  @include inner-container;

  p {
    padding-bottom: 12px;
  }
}

// inner blocks

.middle-content {
  color: $white;
  position: relative;
  height: 100%;
  -webkit-clip-path: polygon(83% 0, 100% 14%, 100% 86%, 18% 100%, 0 86%, 0 14%);
  clip-path: polygon(83% 0, 100% 14%, 100% 86%, 18% 100%, 0 86%, 0 14%);

  .inner-container {
    @include inner-container-middle;
  }
}

.polygon-large {
  @include background;
  max-width: 100%;
  max-height: calc(100% - (#{$padding-large} * 2));
}

.polygon-medium {
  @include background;
}

// D&E 2016 logo

.c-logo {
  @include clearfix;
  //height: $container-height-large;
  width: $side-container-width;
  max-width: 100%;
  float: right;
  padding-bottom: $padding-large;

  svg {
    path {
      fill: $purple;
    }
  }

  .e-logo {
    width: 100%;
    height: auto;
  }

  .e-title {
    @include typography-h2;
    padding-top: 15px;
    color: $purple;
    border-bottom: 2px dashed $purple;
  }
}

// sponsor

.c-sponsor {
  height: $container-height-small;
  width: $side-container-width;
  max-width: 100%;
  position: relative;
  clear: right;
  float: right;

  @include below($breakpoint) {
    .inner-container {
      padding-top: 0;
      padding-left: 0;
    }
  }

  .e-title {
    @include typography-h3;
    color: $purple;
  }
}

// page-title

.c-page-title {
  position: absolute;
  left: -205px;
  //bottom: -10px;
  //right: -320px;
  bottom: 100px;
  text-align: right;
  z-index: 10;

  @include below($breakpoint) {
    bottom: 70px;
    left: -140px;
  }

  .e-page-title {
    @include typography-h1;
  }

  .e-page-subtitle {
    font-size: 45px;
    line-height: 41px;

    @include below($breakpoint) {
      font-size: 26px;
      line-height: 30px;
    }
  }
}

.message {

  .c-message {
    margin-top: 55px;
  }

  .e-room {
    @include typography-h2;
  }

  .e-message {
    @include typography-h3;
  }
}

// timetable

.c-timetable {

  .e-current-events {
    width: 40%;
    height: 100%;
    float: left;
  }

  .c-current-event {
    .e-title {
      padding-bottom: 75px;
      font-size: 36px;
      line-height: 40px;
      font-weight: bold;
    }

    .e-room {
      font-size: 26px;
      line-height: 25px;
      font-weight: bold;
    }

    .e-session-type {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .e-coming-events {
    font-size: 20px;
    line-height: 25px;
    width: 60%;
    float: left;
    padding-left: $padding-large;
  }

  .c-coming-event {
    border-bottom: 2px dashed $dark-pink;
    margin-bottom: $padding-large;

    &:nth-of-type(1n + 3) {
      display: none;
    }

    .e-title {
      padding-bottom: $padding-large;
    }

    .e-author {
      padding-bottom: $padding-large;
    }
  }
  @include below($breakpoint) {

    .e-current-events {
      width: 30%;
    }

    .c-coming-event {
      padding-top: 55px;
      display: block !important;
    }
    .c-current-event {
      padding-top: 55px;

      .e-title {
        display: none;
      }

      .e-room {
        font-size: 18px;
        line-height: 21px;
        font-weight: normal;
      }

      .e-session-type {
        font-size: 18px;
      }
    }
    .e-coming-events {
      width: 70%;
      float: right;

      &.first {
        .c-coming-event {
          &:nth-of-type(1) {
            opacity: 1;
          }
        }
      }

      &.second {
        .c-coming-event {
          &:nth-of-type(2) {
            opacity: 1;
          }
        }
      }

      &.third {
        .c-coming-event {
          &:nth-of-type(3) {
            opacity: 1;
          }
        }
      }

      &.fourth {
        .c-coming-event {
          display: block;
          &:nth-of-type(4) {
            opacity: 1;
          }
        }
      }
    }

    .c-coming-event {
      position: absolute;
      display: inline-block;
      border-bottom: none;
      opacity: 0;
      padding-right: 50px;
      @include transition(opacity 1s);

      .e-title {
        font-size: 28px;
        line-height: 32px;
      }
      .e-author {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

// right blocks
.blocks-container {
  position: absolute;
  bottom: 55px;

  &.move-in {
    bottom: 110vh;
  }

}

.c-right-block {
  position: relative;
  height: $container-height-medium;
  width: $right-block-width;
  color: $white;

  .e-room {
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
  }

  .e-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin: 20px 0;
  }
}

.c-events-navigation {
  width: 40px;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;

  &.first {
    .polygon-navigation {
      &:nth-of-type(1) {
        #Path-Copy-11 {
          opacity: 1;
        }
      }
    }
  }
  &.second {
    .polygon-navigation {
      &:nth-of-type(2) {
        #Path-Copy-11 {
          opacity: 1;
        }
      }
    }
  }
  &.third {
    .polygon-navigation {
      &:nth-of-type(3) {
        #Path-Copy-11 {
          opacity: 1;
        }
      }
    }
  }
  &.fourth {
    .polygon-navigation {
      &:nth-of-type(4) {
        #Path-Copy-11 {
          opacity: 1;
        }
      }
    }
  }
}

.polygon-navigation {
  display: block;
  width: 26px;

  #Path-Copy-11 {
    fill: $dark-pink;
    opacity: .3;
    @include transition(opacity 1s);
  }
}

// social media styles

.c-social-media-title {
  @include typography-h2;
  position: absolute;
  color: $coral;
  transform: rotate(-9.5deg);
  z-index: 5;

  &.v-instagram {
    top: 50px;

    @include below($breakpoint) {
      top: 40px;
    }
  }

  &.v-twitter {
    top: -$padding-large;

    @include below($breakpoint) {
      top: -$padding;
    }
  }
}

.instagram {
  //@include keyframes(fadeOut) {
  //  from {
  //    opacity: 0;
  //  }
  //  to {
  //    opacity: 1;
  //  }
  //}
  //
  //@mixin animation--fadeIn() {
  //  @include animation(fadeOut 0.7s ease-in);
  //  @include animation-iteration-count(1);
  //  @include animation-fill-mode(forwards);
  //}

  #media {
    display: none;
    opacity: 0;

    img {
      height: 970px;

      @include below($breakpoint) {
        height: 670px;
      }
    }
  }

  .is-shown {
    //@include animation--fadeIn();
    opacity: 1 !important;
    display: inline-block !important;
  }
}

// container specific styles

.middle-column-container {
  &.v-message {
    .c-page-title {
      max-width: 25vw;
      left: auto;
      right: -160px;
      bottom: 110px;

      @include below($breakpoint) {
        bottom: 75px;
        right: -90px;
      }
    }
  }
  &.v-programme {
  }
  &.v-socialmedia {
  }
}

.e-right-column {
  .blocks-container {
    &.v-programme {
        .c-social-media-title {
          display: none;
        }
      @include below($breakpoint) {
        width: 280px;
        height: 600px;

        .c-events-navigation {
          display: block;
        }
        .c-right-block {
          display: none;
        }
      }

      &.v-socialmedia {

      }
    }
  }
}

