// Generic libraries
@import '../vendor/bourbon/bourbon';
// Generic normalize
@import '../vendor/fabrique/normalize/normalize';
@import '../vendor/sanitize/sanitize';

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

:root {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// Project environment
@import 'settings/colors';
@import 'settings/themes';
@import 'settings/layout';
@import 'settings/typography';

// Imports
@import 'livewall';
@import 'tweets';
