{#<div class="tweet new c-tweet" data-tweetid="{{ tweet.id }}">#}
{#  <div class='inner'>#}
{#      {% if tweet.entities.media %}#}
{#        <p>{{ tweet.entities.media.media_url }}</p>#}
{#        <img src="{{ tweet.entities.media.media_url }}">#}
{#    {% endif %}#}
{#    <h3 class="e-twitter-name">{{ tweet.user.name }}</h3>#}
{#    <h4 class="e-twitter-info">@{{ tweet.user.screen_name }}</h4>#}
{#    <p class="e-twitter-text">{{ tweet.text }}</p>#}
{#    <p class="e-twitter-info">{{ tweet.created_at }}</p>#}
{#  </div>#}
{#</div>#}
{##}
