// primary colors

$white: #FFFFFF;
$blue-grey: #66757F;
$dark-blue: #262F33;
$grey: #EAEAEA;

$pink: #F4B3D6;
$coral: #EF4F4F;

$green: #86C74F;
$light-green: #ABD884;

$turquoise: #00B3A4;
$blue: #B6D8F6;

$purple: #3B2790;
$light-purple: #9090C7;

$orange: #F4861D;
$light-orange: #F9E072;

$dark-pink: #CA83AD;
