
.theme-white {
  background-color: $white;
}

.v-programme {
  .polygon-medium {
    polygon {
      fill: $dark-pink;
    }
    use {
      fill: $dark-pink;
    }
  }

  .middle-content {
    background-color: $purple;
  }

  .c-page-title {
    color: $dark-pink;

    .e-page-title {
      border-top: 2px dashed $dark-pink;
    }
  }
}

.theme-blue {
  background-color: $blue;
}

.v-socialmedia {
  .polygon-medium {
    polygon {
      fill: $coral;
    }
    use {
      fill: $coral;
    }
  }
  .middle-content {
    background-color: $blue;
  }


  .c-page-title {
    color: $coral;

    .e-page-title {
      border-top: 2px dashed $coral;
    }
  }
}

.theme-pink {
  background-color: $pink;
}

.v-message {
  .polygon-medium {
    polygon {
      fill: $turquoise;
    }
    use {
      fill: $turquoise;
    }
  }

  .middle-content {
    background-color: $turquoise;
  }

  .c-page-title {
    color: $purple;

    .e-page-title {
      border-top: 2px dashed $purple;
    }
  }
}
