{% block main-content %}

  <div id="type" class="{% block container-style %}{% endblock %}">

  <div class="e-left-column">
        <div class="left-column-container">
            <section class="c-logo">
                {#            <div class="inner-container">#}
                <svg width="268px" height="303px" viewBox="174 58 268 303" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <path d="M220.613336,58 L174,97.094504 L174,321.101192 L392.224836,359.5621 L394.707238,360 L441.320574,320.904892 L441.320574,96.898204 L223.095134,58.4379 L220.613336,58 Z M398.569224,132.75406 L191.758727,96.30568 L223.700024,69.515864 L430.51052,105.964848 L430.51052,311.946968 L234.510682,277.403604 L266.451978,250.613788 L398.569224,273.898592 L398.569224,132.75406 Z M184.810054,312.034548 L184.810054,106.052428 L380.809892,140.596396 L348.867992,167.386212 L216.75135,144.101408 L216.75135,285.245336 L423.561847,321.693716 L391.619946,348.484136 L184.810054,312.034548 Z M355.817269,255.392032 L355.817269,175.662824 L387.759169,148.873612 L387.759169,261.021312 L355.817269,255.392032 Z M227.561405,156.978084 L259.503305,162.607968 L259.503305,242.337176 L227.561405,269.126388 L227.561405,156.978084 Z M270.313359,240.322836 L270.313359,164.512984 L345.00661,177.677164 L345.00661,253.487016 L270.313359,240.322836 Z"
                          id="DE-logo" stroke="none" fill="#3B2790" fill-rule="evenodd"></path>
                </svg>
                <h2 class="e-title">D&E 2016</h2>
                {#            </div>#}
            </section>
            <section class="c-sponsor">
                <a href="" id="refresh">get tweets</a>
                <a href="" id="btn-socialmedia-page" style="position: fixed; top: 0;left: 15%;z-index: 10;">get
                    socialmedia</a>
                <a href="" id="btn-programma-page" style="position: fixed; top: 0;left: 30%;z-index: 10;">get programma</a>
                <a href="" id="btn-message-page" style="position: fixed; top: 0;left: 50%;z-index: 10;">get message</a>
                <div class="inner-container">
                    <h3 class="e-title">Powered by</h3>
                    <figure class="e-logo-wrapper">
                        <img src="../static/media/logo_fab.svg">
                    </figure>
                </div>
            </section>
        </div>
    </div>
    <div class="e-middle-column">
        <div class="middle-column-container{% block middle-column-class %}{% endblock %}">
            {% block middle-column-title %}
            {% endblock %}

            <div class="middle-content">
                <div class="inner-container">

                    {% block middle-content %}
                    {% endblock %}
                </div>
            </div>
            <section class="c-page-title">

                <h2 class="e-page-subtitle">
                    {% block page-subtitle %}
                    {% endblock page-subtitle %}
                </h2>
                <h1 class="e-page-title">
                    {% block page-title %}
                    {% endblock page-title %}
                </h1>
            </section>
        </div>
    </div>
    <div class="e-right-column">
        <div class="blocks-container">

            {% block right-column-title %}
            {% endblock %}

            {% block right-column-content %}
            {% endblock %}
        </div>
    </div>

  </div>
{% endblock %}
