
{% extends extend_template %}

{% block body-class %}message theme-pink{% endblock %}

{% block page-title %}
    Important message
{% endblock page-title %}

{% block middle-content %}
    <section class="c-message">
        <div class="e-message-container">
            <h4 class="e-room">Room 0.16</h4>
            <h4 class="e-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ...</h4>
        </div>
    </section>
{% endblock %}

{% block right-column-content %}
{% endblock %}

