{% extends extend_template %}

{% block container-style %}programme theme-white{% endblock %}

{% block page-title %}
    Programme
{% endblock page-title %}

{% block page-subtitle %}
    Room 1.16
{% endblock page-subtitle %}

{% block middle-content %}
    <section class="c-timetable">
        <div class="e-current-events">
            <div class="c-current-event">
                <h3 class="e-time">13.30 – 15.00</h3>
                <h4 class="e-title">Design Pedagogy & Education: Visual Approaches to Design
                    Education</h4>
            </div>
        </div>
        <div class="e-coming-events">
            <div class="c-coming-event">
                <h4 class="e-title">Verbalising the Silent? Professionals' Framing of Implicit in
                    Packaging
                    Design</h4>
                <h4 class="e-author">by Toni Ryynänen, Visa Heinonen</h4>
            </div>
            <div class="c-coming-event">
                <h4 class="e-title">Verbalising the Silent? Professionals' Framing of Implicit in
                    Packaging
                    Design</h4>
                <h4 class="e-author">by Toni Ryynänen, Visa Heinonen</h4>
            </div>
        </div>
    </section>
{% endblock %}

{% block right-column-content %}
    <h2 class="c-social-media-title v-twitter">Next Event</h2>

    <div class="c-right-block">
        <svg class="polygon-medium" width="311px" height="297px" viewBox="0 0 311 297" version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1"
                         points="54.0554507 2.22044605e-16 0 45.3082 0.310245504 251.718212 256.254795 296.799612 310.310246 251.490712 310 45.0807 56.933484 0.5075"></polygon>
            </defs>
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <use id="Path-Copy-11" stroke="none" fill="#EF4F4F" fill-rule="evenodd"
                 transform="translate(155.155123, 148.399806) scale(-1, 1) translate(-155.155123, -148.399806) "
                 xlink:href="#path-1"></use>
        </svg>

        <div class="inner-container">
            <h3 class="e-room">C. room C</h3>
            <h4 class="e-title">Introducing Positive design</h4>
        </div>
    </div>
    <div class="c-right-block">
        <svg class="polygon-medium" width="311px" height="297px" viewBox="0 0 311 297" version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1"
                         points="54.0554507 2.22044605e-16 0 45.3082 0.310245504 251.718212 256.254795 296.799612 310.310246 251.490712 310 45.0807 56.933484 0.5075"></polygon>
            </defs>
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <use id="Path-Copy-11" stroke="none" fill="#EF4F4F" fill-rule="evenodd"
                 transform="translate(155.155123, 148.399806) scale(-1, 1) translate(-155.155123, -148.399806) "
                 xlink:href="#path-1"></use>
        </svg>

        <div class="inner-container">
            <h3 class="e-room">C. room C</h3>
            <h4 class="e-title">Introducing Positive design</h4>
        </div>
    </div>
    <div class="c-right-block">

        <svg class="polygon-medium" width="311px" height="297px" viewBox="0 0 311 297" version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1"
                         points="54.0554507 2.22044605e-16 0 45.3082 0.310245504 251.718212 256.254795 296.799612 310.310246 251.490712 310 45.0807 56.933484 0.5075"></polygon>
            </defs>
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <use id="Path-Copy-11" stroke="none" fill="#EF4F4F" fill-rule="evenodd"
                 transform="translate(155.155123, 148.399806) scale(-1, 1) translate(-155.155123, -148.399806) "
                 xlink:href="#path-1"></use>
        </svg>

        <div class="inner-container">
            <h3 class="e-room">C. room C</h3>
            <h4 class="e-title">Introducing Positive design</h4>
        </div>
    </div>
{% endblock %}

