{% extends extend_template %}

{#{% block body-class %}socialmedia theme-blue{% endblock %}#}
{% block container-style %}socialmedia theme-blue"id="type{% endblock %}

{% block page-subtitle %}
    Social<br>media feed
{% endblock page-subtitle %}

{% block page-title %}
    #dande2016
{% endblock page-title %}

{% block middle-column-class %}{% endblock %}

{#{% block middle-column-title %}#}
{#    <h2 class="c-social-media-title v-instagram">Instagram</h2>#}
{#{% endblock %}#}

{% block middle-content %}
{% endblock %}

{% block right-column-title %}
    <h2 class="c-social-media-title v-twitter">Twitter</h2>
{% endblock %}

{% block right-column-content %}
    <section class="c-twitter">
        <section class="c-tweets">
            <section class="static-tweets"></section>
        </section>
    </section>
{% endblock %}

